
body {
    background-color: #5200ff;
    background-image: linear-gradient(270deg, #d1de00  0%, #5200ff 100%);
}
h1 {
    font-size: 50px;
    background-image: linear-gradient(to right, #d1de00 , #5200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.beginning {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#first-kobe-pic {
    border-radius: 15px;
    border-color: black;
    border: 5px solid;
}

p {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: #d1de00;
}

ul {
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
}

.stats-pic {
    width: 800px;
    border-radius: 15px;
    border-color: black;
    border: 5px solid;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.more {
    color: red;
}